 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>I am a designer, illustrator, and super cool human in Orlando, Florida. I have a Bachelors of the Fine Arts with specialization in Graphic Design from University of Central Florida. My skills are in Photoshop, Illustrator, Pen and Paper, and a little bit of Sketch. I can work in the "analog" as well, drawing by hand logos, lettering, or a finished project. I love working on projects that encompass concepts, ideas, or causes that are important to me personally. </p>
                </div>
                <div class="col-lg-5">
                    <p>Aside from being a freelance designer, I also have my own cat-themed illustration business called <a href="http://www.purritopress.com"> Purrito Press</a>. I travel to conventions to sell my work as well as submit it to shows on occasion at Orlando Museum of Art. I also volunteer as Co-Captain of our local <a href="http://www.codeforamerica.org">Code for America</a> brigade, <a href="http://www.codefororlando.com">Code for Orlando</a>, where I help organize and lead volunteer developers, designers, and citizens to create apps that make Orlando the best city to live, work, and play in. I am also a super huge Orlando City fan. VAMOS, VAMOS ORLANDO!</p>
                </div>
               <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>