 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>I am a designer, illustrator, and super cool human in Orlando, Florida. I have a B.F.A. with specialization in Graphic Design from University of Central Florida. My tools of the trade are pen and paper, ink, and software such as Photoshop, Illustrator, and Sketch. I can work in the "analog" as well, drawing by hand logos, lettering, or a finished project. I like applying my skills to projects that I think better the world. My latest interest has been learning and practicing human centered design and user experience.</p>
                </div>
                <div class="col-lg-5">
                    <p>I also have my own cat-themed illustration business called <a href="http://www.purritopress.com"> Purrito Press.</a> I travel to conventions to sell my work as well as submit it to shows on occasion at Orlando Museum of Art. (I swear I am not a crazy cat-lady.) I am also a Co-Captain for <a href="http://www.codefororlando.com"> Code for Orlando</a>, a <a href="http://www.codeforamerica.org"> Code for America</a> Brigade. We create apps that make Orlando the best place to live, work, or play.  Speaking of Orlando, I am a super huge Orlando City fan. VAMOS, VAMOS ORLANDO!
                    </p>
                </div>
               <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>